{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Romantic Anniversary </title>
<!-- 
Cafe House Template
http://www.templatemo.com/tm-466-cafe-house
-->
  <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' %}" type='text/css'>
  <link href="{% static 'http://fonts.googleapis.com/css?family=Damion' %}" rel='stylesheet' type='text/css'>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="{% static 'image/x-icon' %}" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Preloader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Preloader -->
    <div class="tm-top-header">
      <div class="container">
        <div class="row">
          <div class="tm-top-header-inner">
            <div class="tm-logo-container">
              <img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo">
              <h1 class="tm-site-name tm-handwriting-font"> Anniversary </h1>
            </div>
            <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
            <marquee> Wedding  anniversary  is  not  just  a  date,  It  is  the  day  which  makes  us  remember  how  beautifully  we  knotted  this  relationship, Happy Anniversary!!!....   May  the  bond  of  love  between  you  gets  stronger  every  day  and  may  your  every  anniversary  be  more  exciting, Happy  anniversary  to  both  of  you...</marquee>
        
              <ul>
                <li><a href="#"> Today Special </a></li>
              </ul>
            </nav>   
          </div>           
        </div>    
      </div>
    </div>
    

    <section class="tm-welcome-section">
      <div class="container tm-position-relative">
        <div class="tm-lights-container">
          <img src="{% static 'img/light.png' %}" alt="Light" class="light light-1">
          <img src="{% static 'img/light.png' %}" alt="Light" class="light light-2">
          <img src="{% static 'img/light.png' %}" alt="Light" class="light light-3">  
        </div>        
        <div class="row tm-welcome-content">
          <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">&nbsp;Happy Anniversary&nbsp;&nbsp;<img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line"></h2>
          <span style="font-size:500%;color:red;">&hearts;</span><h3 class="white-text tm-handwriting-font tm-welcome-header">Prasad & Ashwini</h3>
          <h4 class="white-text tm-welcome-description"><font face="verdana"> " The  secret  of  a  happy  marriage  is  finding  the  right  person ,You  know  they’ re  right  if  you  love  to  be  with  them  all  the  time. " </font></h4>
               
        </div>
        <img src="{% static 'img/table-setss.png' %}" alt="Table Set" class="tm-table-set img-responsive">             
      </div>      
    </section>
    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
        <section class="tm-section row">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo"> Real love stories never have endings... </h2>
            <h3><font face="verdana"> In a sea of people, my eyes will always search for you. </font></h3>
            <h3 class="tm-welcome-description"> "A marriage anniversary is the celebration of love, trust, partnership, tolerance and tenacity, The order varies for any given year." </h3>
            
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
            <div class="inline-block shadow-img">
              <img src="{% static 'img/1.jpg' %}" alt="Image" class="img-circle img-thumbnail">  
            </div>              
          </div>            
        </section>          
        <section class="tm-section tm-section-margin-bottom-0 row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo"> Life is a journey, and love is what makes that journey worthwhile...</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>
          <div class="col-lg-12 tm-popular-items-container">
            <div class="tm-popular-item">
              <img src="{% static 'img/popularss-1.jpg' %}" alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">H</span>onest</h3><hr class="tm-popular-item-hr">
                <h3><font face="verdana"> "A marriage anniversary is the celebration of love, trust, partnership, tolerance and tenacity. The order varies for any given year." </font></h3>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src="{% static 'img/popularss-2.jpg' %}" alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">L</span>ove</h3><hr class="tm-popular-item-hr">
                <h3><font face="verdana"> "The best love is the kind that awakens the soul, that makes us reach for more, that plants the fire in our hearts and brings peace to our minds, That’s what I hope to give you forever." </font></h3>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src="{% static 'img/popularss-3.jpg' %}" alt="Popular" class="tm-popular-item-img">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">T</span>ogetherness </h3><hr class="tm-popular-item-hr">
                <h3><font face="verdana"> "I saw that you were perfect, and so I loved you. Then I saw that you were not perfect and I loved you even more." </font></h3>
                
              </div>              
            </div>
          </div>          
        </section>
        <section class="tm-section row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo"> Today's Special...</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>          
          <div class="col-lg-12 tm-special-container margin-top-60">
            <div class="tm-special-container-left"> <!-- left -->
              <div class="tm-special-item">
                <div class="tm-special-img-container">
                  <img src="{% static 'img/specialss-1.jpg' %}" alt="Special" class="tm-special-img img-responsive">  
                  <a href="#">
                    <div class="tm-special-description">
                       <h5><font face="verdana"> "The best thing to hold onto in life is each other." </font></h5>  
                    </div>            
                  </a>
                </div>
              </div>
            </div>
            <div class="tm-special-container-right"> <!-- right -->
              <div>
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="{% static 'img/specialss-2.jpg' %}" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <h4><font face="verdana"> "There is no more lovely, friendly and charming relationship, communion or company than a good marriage." </font></h4>
                      </div>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="tm-special-container-lower">
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="{% static 'img/specialss-3.jpg' %}" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <p><font face="verdana"> Perfectly Happy Day... </font></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="{% static 'img/specialss-4.jpg' %}" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <p><font face="verdana"> Anniversary cheers!!! </font></p>
                      </div>
                    </a>
                  </div>
                </div>  
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="{% static 'img/specialss-5.jpg' %}" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <p><font face="verdana"> So, grateful that God gave me you to love... </font></p>
                      </div>
                    </a>
                  </div>
                </div>  
              </div>              
            </div>
          </div>
        <h3><marquee> Congratulations  to  spend  another  blessed  year  of  your  marriage.  May  your  remaining  life  spend  in  happiness  and  laughter Happy  Anniversary  to  both  of  you...</marquee></h3>
        
        </section>
        <section class="tm-section">
          <div class="row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo">Whatever our souls are made of, his and mine are the same... </h2> 
              <div class="tm-hr-container"><hr class="tm-hr"></div> 
            </div>  
          </div>          
          <div class="row">
            <div class="tm-daily-menu-container margin-top-60">
              <div class="col-lg-4 col-md-4">
                <img src="{% static 'img/menu-board.png' %}" alt="Menu board" class="tm-daily-menu-img">      
              </div>            
              <div class="col-lg-8 col-md-8">
                <h2><font face="verdana"> "The  best  love  is  the  kind  that  awakens  the  soul; that  makes  us  reach  for  more,  that  plants  the  fire  in  our  hearts  and  brings  peace  to  our  minds. That’s what I  hope  to  give  you  forever." </font></h2>
                <ol class="margin-top-30">
                  <li>Real  love  stories  never  have  endings...</li> 
                  <li>Life  is  a  journey,  and  love  is  what  makes  that  journey  worthwhile...</li>
                  <li>All  that  you  are  is  all  that  I'll  ever  need...</li> 
                  <li>The  best  thing  to  hold  onto  in  life  is  each  other...</li> 
                  <li>We  loved  with  a  love  that  was  more  than  love...</li> 
                  <li>Grow  old  with  me,  the  best  is  yet  to  be... </li> 
                </ol>
                   
              </div>
            </div>
          </div>          
        </section>
      </div>
    </div> 
    <footer>
      <div class="tm-black-bg">
        <div class="container">
          <div class="row margin-bottom-60">
            
            <div class="col-lg-5 col-md-5 tm-footer-div">
              <h3 class="tm-footer-div-title"><font face="verdana"> " Love grows more tremendously full, swift, poignant, as the years multiply." </font></h3>
              <p class="margin-top-15"><font face="verdana"> " The  secret  of  a  happy  marriage  is  finding  the  right  person.  You  know  they’re  right  if  you  love  to  be  with  them  all  the  time." </font></p>
              <p class="margin-top-15"></p>
            </div>
            <div class="col-lg-4 col-md-4 tm-footer-div">
              <h3 class="tm-footer-div-title">Because of you, I laugh a little harder, cry a little less, and smile a lot more.</h3>
              <p><font face="verdana"><font face="verdana"> " Cause all of me loves all of you, loves your curves and all your edges, all your perfect imperfections. Give your all to me, I’ll give my all to you. You’re my end and my beginning, even when I lose I’m winning."</font></p>
              <div class="tm-social-icons-container">
                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>          
        </div>  
      </div>      
      <div>
        <div class="container">
          <div class="row tm-copyright">
           <h3 class="col-lg-12 small copyright-text text-center">Copyright &copy; Suraj Sanjeev Pawar </h3>
         </div>  
       </div>
     </div>
   </footer> <!-- Footer content-->  
   <!-- JS -->
   <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>      <!-- jQuery -->
   <script type="text/javascript" src="{% static 'js/templatemo-script.js' %}"></script>      <!-- Templatemo Script -->

 </body>
 </html>